// Place all the styles related to the family_tree controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.family_tree_table{
  th{
    min-width: 120px;
  }
  .btn-grade{
    min-width: 100px;
    margin: 5px 10px;
  }
  .btn-member{
    min-width: 80px;
    margin: 5px 20px;   
  }
}

.primary_relation {
    position: absolute; /* allows to position it anywhere */
    width: 1px; /* your chosen line width */
    background-color:#C22; /* line color */
    z-index: 0; /* make sure this is above your other elements */
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    /* transform-origin sets rotation around top left (instead of the geometrical center) */
}

.sub_relation{
    position: absolute; /* allows to position it anywhere */
    width: 1px; /* your chosen line width */
    background-color:#09C; /* line color */
    z-index: 0; /* make sure this is above your other elements */
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    /* transform-origin sets rotation around top left (instead of the geometrical center) */
}