<div>
  <h4><%= @member.grade.to_s + ' ' + @member.name %></h4>
</div>

<div id="member_update_relation_field">
  <h4>修改師徒關係：</h4>
  <%= render "filter_members" %>
  <select class="relation_type_select">
    <option value="0"> 無關係 </option>
    <option value="1"> 正師徒 </option>
    <option value="2"> 地師徒 </option>
  </select>
  <button class="submit btn">上傳</button>
</div>
